<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>TC | Browse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="css/border.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/yahoo/xss-filters/master/dist/xss-filters.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="libs/humanize-duration.js"></script>
  <script src="libs/web3.min.js"></script>
  <script src="script/utils.js"></script>
  <script src="script/components.js"></script>
  <script src="script/contractInfo.js"></script>
  <script src="script/browse.js"></script>
</head>

<body>

<div id="nav-placeholder"></div>
<div class="container" align='center'>
  <div id="noProviderWarningDiv" hidden='true'>
    <div class="alert alert-warning" style='display:inline-block; margin-top:5rem'>
      <strong>Alert! You do not have a web3 provider.</strong><br>
      Getting Metamask is the quickest way to fix this.<br>
      <a href="https://metamask.io/"><img src="resources/download-metamask.png" style="width:30rem"></a><br>
      You can also use Mist or Parity. Refresh this page when you have a web3 provider.
    </div>
  </div>
  <div id="ropstenWarning" hidden='true' align='center'>
    <div class="alert alert-warning" style='display:inline-block;'>
      <p><strong>You are currently viewing only "test" Burnable Payments on the Ropsten testnet.</strong></p>
      <p>To see Burnable Payments that contain real ether, change your Metamask network to the "Main" Ethereum network, and refresh.</p>
    </div>
  </div>
  <div id="web3LockedWarning" hidden='true' align='center'>
    <div class="alert alert-warning" style='display:inline-block;'>
      <p><strong>No Ethereum account found.</strong></p>
      <p>You are currently unable to initiate any commands. Make sure Metamask is unlocked and refresh.</p>
    </div>
  </div>
  <div id="web3Div" hidden='true'>
    <div id="browseVue" align="left">
      <p>This code determines how the Payments below are compared and sorted. Javascript's <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">.sort()</a> is used.</p>
      <div class="row">
        <div class="col-sm-10">
          <pre class="pre-scrollable" style='max-height:100px'>{{compareCode}}</pre>
        </div>
        <div class="col-sm-2 align-bottom">
          <button class="btn btn-info" data-toggle="modal" data-target="#compare-code-modal">Change compare code</button>
        </div>
      </div>
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>Address/State/Autorelease</th>
            <th>Payer/Worker</th>
            <th>Title</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="BOP in BOPs">
            <td @click="goToInteractPage(BOP.address)" style="cursor:pointer">
              <eth-address-output :address=BOP.address></eth-address-output><br>
              <bop-state-output :state=BOP.state></bop-state-output><br>
              <autorelease-output :state="BOP.state" :autorelease-interval="BOP.autoreleaseInterval" :autorelease-time="BOP.autoreleaseTime"></autorelease-output>
            </td>
            <td>
              Payer: <eth-address-output :address=BOP.payer></eth-address-output><br>
              Worker: <eth-address-output :address=BOP.worker></eth-address-output>
            </td>
            <td>
              {{BOP.title}}
            </td>
            <td>
              <div v-if="BOP.state == 0">
                Balance: <ether-output :wei=BOP.balance></ether-output><br>
                Service Deposit: <ether-output :wei=BOP.serviceDeposit></ether-output>
              </div>
              <div v-if="BOP.state == 1">
                Deposited: <ether-output :wei=BOP.amountDeposited></ether-output><br>
                Balance: <ether-output :wei=BOP.balance></ether-output><br>
                Released: <ether-output :wei=BOP.amountReleased></ether-output><br>
                Burned: <ether-output :wei=BOP.amountBurned></ether-output>
              </div>
              <div v-if="BOP.state == 2">
                Released: <ether-output :wei=BOP.amountReleased></ether-output><br>
                Burned: <ether-output :wei=BOP.amountBurned></ether-output>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="compare-code-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Set new compare code</h4>
            </div>
            <div class="modal-body">
              <textarea id="compare-code-input" class="form-control" style="font-family:monospace" rows=20 style="mid-width:100%"></textarea><br>
              <button class="btn btn-success" data-dismiss="modal" onclick="applyNewCompareCode()">Apply code</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>